.notification {
    background-color: hsl(130deg 40% 40%);
    padding: 1em 2em;
    width: fit-content;
    color: hsl(130deg 70% 90%);
    margin-bottom: 2em;
    font-size: 1.25rem;
    border-radius: 4px;
    border: 2px solid hsl(130deg 70% 20%);;
}